* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Clear Sans', sans-serif;
  line-height: 175%;
  overflow-x: hidden;
  color: #1a1a1a;
}

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
}

h4, h5, h6 {
  font-family: 'Clear Sans', sans-serif;
  font-weight: bold;
}

/* remove text decoration on all links */
a {
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #EDF2F4;
  transition: 200ms;
}

a:hover {
  color: #8D99AE;
  transition: 200ms;
}

.button {
  background-color: #80C98D;
  margin: 0.5em;
  padding: 0.5em 1.15em;
  border-radius: 0.75em;
  font-style: initial;
  color: #1a1a1a;
  font-size: 1.25em;
  transition: 200ms;
}

  .button:hover {
    color: #1a1a1a;
    background-color: #4FA85F;
    transition: 200ms;
  }

.mainHeader {
  width: 100%;
  height: 108px;
  background-color: #EDF2F4;
  padding: 0 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
  .mainHeader > a {
    height: 100%;
    display: inline-flex;
    align-items: center;
  }

  a > .topNav_logo {
    height: 60%;
  }

  .topNav_list {
    margin-right: 1em;
    list-style-type: none;
  }

  .topNav_list .topNav_item {
    display: inline-block;
  }

  .topNav_item a {
    display: block;
    margin: 0 1em;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #2B2D42;
    transition: 200ms;
  }

  .cta a {
    font-weight: 600;
  }

  .topNav_item a:hover {
    color: #8D99AE;
    transition: 200ms;
  }

.wrapper {
  display: flex;
  flex-direction: column;
}
  
  .wrapper > div {
    padding: 4em 0;
  }

#intro {
  background-color: #8D99AE;
  text-align: center;
}

  #intro h1 {
    margin-bottom: 0.5em;
    font-style: italic;
    font-size: 2.5em;
    color: #2b2d42;
  }

  #intro .intro_text {
    margin-top: 0px;
    font-size: 1.5em;
  }

#services {
  background-color: #2B2D42;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5em;
  padding-right: 5em;
}

  /*TEMPORARY*/
  .placeholder {
    background-color: white;
    width: 7em;
    height: 7em;
    margin: 0 auto;
  }

  .circle {
    border-radius: 50%;
  }
  /*END TEMPORARY*/

  .service {
    flex-grow: 2;
    margin: 0 5em;
    width: calc(100%/5.5);
    text-align: center;
  }

  .service h2 {
    color: #80C98D;
    font-style: italic;
  }

  .service p {
    color: #EDF2F4;
    font-weight: 300;
    font-size: 1.25em;
  }

  #services .button {
    margin: 1.25em auto 0;
  }

#login_signup {
  background-color: #EDF2F4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
  #signup, #login {
    width: 20%;
    margin: 0 4.5em;
    text-align: center;
  }

  #signup h1,
  #login h1 {
    color: #2B2D42;
    font-style: italic;
  }

  #signup > input:not([type="submit"]),
  #login > input:not([type="submit"]) {
    margin: 7.5px 0;
    font-size: 1.15em;
    padding: 0.25rem 0.75rem;
  }

  .vertical_line {
    background-color: #1a1a1a;
    width: 3px;
    height: 23em;
    text-align: center;
  }

  /*override*/
  input.button {
    box-shadow: none;
    border-style: none;
  }

footer {
  background-color: #282d42;
  padding: 2em 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  footer .links > * {
    margin: 0 1em;
  }

  footer img {
    margin: 0 2em;
  }

  footer .fa {
    margin: 0 0.5em;
    font-size: 1.5em;
  }

/*
 * Index.html
 */
.workWrapper {
  display: flex;
  height: calc(100vh - 108px);
}
  .workingArea {
    width: 60%;background-color: #8D99AE;
  }
    .pills {
      display: inline-block;
      width: 15vw;
      padding: 10px;
      text-align: center;
    }
  .taskList {
    background-color: red;
    width: 40%;
  }
